body {
    background: rgb(14, 17, 23);
    padding: 2em;
}

#balance_table {
    font-size: 1.5em;
    background: rgb(14, 17, 23);
}

#timeframe label {
    padding: 0 0.3em;
}

table, label, h1, h3 {
    color: white;
}

th {
    font-weight: bold;
    font-size: 1.2em;
}

#dash-tabs {
    margin-top: 1em;
}

.dash-tab {
    color: #fff !important;
    border: 1px solid #fff !important;
    background: rgb(14, 17, 23) !important;
}

.dash-tab:hover {
    background: rgb(34, 37, 43) !important;
}

.dash-tab--selected {
    color: #fff !important;
    border: 1px solid #fff !important;
    background: rgb(34, 37, 43) !important;
}